@keyframes spin{
    0% {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    0% {
        transform: rotate(-359deg);
        -o-transform: rotate(-359deg);
        -ms-transform: rotate(-359deg);
        -moz-transform: rotate(-359deg);
        -webkit-transform: rotate(-359deg);
    }
}

.snicker-comments{
    width: 100%;
    margin: 45px 0 30px 0;
    padding: 0;
    display: block;
    border: 1px solid #c0c4c8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.snicker-comments form.comment-form{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.snicker-comments form.comment-form header,
.snicker-comments form.comment-form article,
.snicker-comments form.comment-form footer{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    display: block;
    line-height: 1.5em;
}
.snicker-comments form.comment-form header{
    background-color: #f4f6f8;
    border-bottom: 1px solid #d0d4d8;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.snicker-comments form.comment-form header .inner{
    padding: 5px 10px;
}
.snicker-comments form.comment-form article{
    padding: 15px 20px;
}
.snicker-comments form.comment-form footer{
    background-color: #f4f6f8;
    border-top: 1px solid #d0d4d8;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.snicker-comments form.comment-form > *:after{
    clear: both;
    content: "";
    display: table;
}
.snicker-comments form.comment-form .aside{
    float: left;
    width: 50%;
    margin: 0;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
}
.snicker-comments form.comment-form .aside.aside-right{
    float: right;
    text-align: right;
}
.snicker-comments form.comment-form .aside.aside-full{
    float: none;
    width: 100%;
    padding: 5px 10px;
}
.snicker-comments form.comment-form input[type=text],
.snicker-comments form.comment-form input[type=email],
.snicker-comments form.comment-form textarea{
    color: #404448;
    width: 100%;
    max-width: none;
    height: auto;
    margin: 0;
    padding: 8px 16px;
    z-index: 10;
    display: block;
    font-size: 14px;
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a4a8;
    background-color: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.snicker-comments form.comment-form textarea{
    height: 150px;
    min-height: 150px;
    padding: 20px;
    display: block;
    resize: vertical;
}
.snicker-comments form.comment-form input[type=text]:focus,
.snicker-comments form.comment-form input[type=text].focus,
.snicker-comments form.comment-form input[type=email]:focus,
.snicker-comments form.comment-form input[type=email].focus,
.snicker-comments form.comment-form textarea:focus,
.snicker-comments form.comment-form textarea.focus{
    border-color: #343A40;
    box-shadow: 0 0 0 3px rgba(52,58,64, 0.35);
    -moz-box-shadow: 0 0 0 3px rgba(52,58,64, 0.35);
    -webkit-box-shadow: 0 0 0 3px rgba(52,58,64, 0.35);
}
.snicker-comments form.comment-form input[type=checkbox]{
    display: none;
}
.snicker-comments form.comment-form input[type=checkbox]+label{
    color: #606468;
    cursor: pointer;
    height: auto;
    margin: 10px 15px;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    vertical-align: top;
}
.snicker-comments form.comment-form input[type=checkbox]+label:hover,
.snicker-comments form.comment-form input[type=checkbox]:checked+label{
    color: #404448;
}
.snicker-comments form.comment-form input[type=checkbox]+label:before{
    width: 20px;
    height: 20px;
    content: "";
    margin: 0 9px 0 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #ffffff;
    border: 1px solid #a0a4a8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all 142ms linear;
    -moz-transition: all 142ms linear;
    -webkit-transition: all 142ms linear;
}
.snicker-comments form.comment-form input[type=checkbox]+label:hover:before{
    border-color: #343A40;
}
.snicker-comments form.comment-form input[type=checkbox]:checked+label:before{
    background-color: #343A40;
    border-color: #343A40;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNM\
    TIgNWwtOCA4LTQtNCAxLjUtMS41TDQgMTBsNi41LTYuNUwxMiA1eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
}
.snicker-comments form.comment-form button{
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-align: left;
    line-height: 1.5em;
    vertical-align: top;
    background-color: #343A40;
    border: 1px solid #343A40;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.snicker-comments form.comment-form button:hover{
    background-color: #545A60;
}
.snicker-comments form.comment-form button:active{
    background-color: #242A30;
}
.snicker-comments form.comment-form button:disabled,
.snicker-comments form.comment-form button.disabled{
    color: rgba(255, 255, 255, 0.35);
    cursor: not-allowed;
    background-color: #040A10;
}
.snicker-comments form.comment-form button.loading:before{
    top: 8px;
    left: -36px;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    padding: 0;
    content: "";
    display: inline-block;
    position: absolute;
    background-size: 18px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZ\
    GQiIGQ9Ik0xMC4yNCA3LjRhNC4xNSA0LjE1IDAgMCAxLTEuMiAzLjYgNC4zNDYgNC4zNDYgMCAwIDEtNS40MS41NEw0Ljgg\
    MTAuNC41IDkuOGwuNiA0LjIgMS4zMS0xLjI2YzIuMzYgMS43NCA1LjcgMS41NyA3Ljg0LS41NGE1Ljg3NiA1Ljg3NiAwIDA\
    gMCAxLjc0LTQuNDZsLTEuNzUtLjM0ek0yLjk2IDVhNC4zNDYgNC4zNDYgMCAwIDEgNS40MS0uNTRMNy4yIDUuNmw0LjMuNi\
    0uNi00LjItMS4zMSAxLjI2Yy0yLjM2LTEuNzQtNS43LTEuNTctNy44NS41NEMuNSA1LjAzLS4wNiA2LjY1LjAxIDguMjZsM\
    S43NS4zNUE0LjE3IDQuMTcgMCAwIDEgMi45NiA1eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
    animation: spin 2s linear 0ms infinite;
    -moz-animation: spin 2s linear 0ms infinite;
    -webkit-animation: spin 2s linear 0ms infinite;
}
.snicker-comments form.comment-form .comment-alert{
    width: 100%;
    margin: 0 0 15px 0;
    padding: 10px 15px;
    display: block;
    font-size: 85%;
    background-color: #f4f8fa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.snicker-comments form.comment-form .comment-alert.alert-error{
    color: #ffffff;
    background-color: #DC3545;
}
.snicker-comments form.comment-form .comment-alert.alert-success{
    color: #ffffff;
    background-color: #28A745;
}
.snicker-comments form.comment-form .comment-reply{
    margin: 0;
    padding: 10px 15px;
    display: block;
    position: relative;
    font-size: 75%;
    background-color: #f4f8fa;
    border: 1px solid #d0d4d8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.snicker-comments form.comment-form .comment-reply .reply-cancel{
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    background-size: 14px;
    background-color: #555;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkP\
    SJNNy40OCA4bDMuNzUgMy43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNzcgNC4y\
    NWwxLjQ4LTEuNDhMNiA2LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all 142ms linear;
}
.snicker-comments form.comment-form .comment-reply .reply-cancel:hover{
    opacity: 1;
    background-color: #DC3545;
}
.snicker-comments form.comment-form .comment-reply .reply-title{
    font-weight: bold;
    font-weight: 600;
}

.snicker-comments-list{
    width: 100%;
    display: block;
}
.snicker-comments-list .comment{
    width: 100%;
    margin: 15px 0;
    padding: 0;
    display: block;
    border: 1px solid #c0c4c8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.snicker-comments-list .comment.new-comment{
    border-color: #007bff;
}
.snicker-comments-list .comment .comment-inner{
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}
.snicker-comments-list .comment .comment-avatar{
    width: 120px;
    padding: 15px;
    display: table-cell;
    position: relative;
    vertical-align: top;
}
.snicker-comments-list .comment .comment-avatar img{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.snicker-comments-list .comment .comment-avatar .avatar-role{
    top: 15px;
    right: 15px;
    color: #ffffff;
    width: auto;
    margin: 0;
    padding: 3px 5px;
    display: inline-block;
    position: absolute;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007bff;
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}
.snicker-comments-list .comment .comment-content{
    width: auto;
    padding: 15px;
    display: table-cell;
    vertical-align: top;
}
.snicker-comments-list .comment .comment-content .comment-title{
    color: #707478;
    margin: 0;
    padding: 5px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: bold;
    font-weight: 600;
}
.snicker-comments-list .comment .comment-content .comment-meta{
    color: #909498;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 12px;
    line-height: 1.25em;
}
.snicker-comments-list .comment .comment-content .comment-comment{
    color: #303438;
    margin: 0;
    padding: 15px 10px;
    displaY: block;
}
.snicker-comments-list .comment .comment-content .comment-action{
    margin: 10px 0 0 0;
    padding: 0;
    display: block;
}
.snicker-comments-list .comment .comment-content .comment-action .action-left{
    margin: 0;
    padding: 5px;
    display: inline-block;
}
.snicker-comments-list .comment .comment-content .comment-action .action-right{
    float: right;
    margin: 0;
    padding: 5px;
    display: inline-block;
}
.snicker-comments-list .comment .comment-content .comment-action a{
    color: #606468;
    margin: 0;
    padding: 3px 6px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #d0d4d8;
    transition: color 142ms linear, background 142ms linear, border 142ms linear;
    -moz-transition: color 142ms linear, background 142ms linear, border 142ms linear;
    -webkit-transition: color 142ms linear, background 142ms linear, border 142ms linear;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-like:hover,
.snicker-comments-list .comment .comment-content .comment-action a.action-like.active{
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-color: #28a745;
    background-color: #28a745;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-dislike:hover,
.snicker-comments-list .comment .comment-content .comment-action a.action-dislike.active{
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-color: #dc3545;
    background-color: #dc3545;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-reply:hover{
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    border-color: #007bff;
    background-color: #007bff;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-like span,
.snicker-comments-list .comment .comment-content .comment-action a.action-dislike span{
    color: #ffffff;
    margin: 1px -2px 0 4px;
    padding: 1px 4px 2px 4px;
    display: inline-block;
    font-size: 11px;
    text-shadow: none;
    line-height: 15px;
    vertical-align: top;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #a0a4a8;
    transition: color 142ms linear, background 142ms linear;
    -moz-transition: color 142ms linear, background 142ms linear;
    -webkit-transition: color 142ms linear, background 142ms linear;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-like:hover span,
.snicker-comments-list .comment .comment-content .comment-action a.action-like.active span{
    color: #28a745;
    background-color: #ffffff;
}
.snicker-comments-list .comment .comment-content .comment-action a.action-dislike:hover span,
.snicker-comments-list .comment .comment-content .comment-action a.action-dislike.active span{
    color: #dc3545;
    background-color: #ffffff;
}
.snicker-comments-list .pagination{
    width: 100%;
    margin: 10px 0;
    padding: 0;
    display: block;
}
.snicker-comments-list .pagination .pagination-button{
    color: #ffffff;
    width: auto;
    min-width: 30px;
    height: 32px;
    margin: 0 3px;
    padding: 5px 10px;
    display: inline-block;
    position: static;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    vertical-align: top;
    background-color: #007bff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background 142ms linear;
    -moz-transition: background 142ms linear;
    -webkit-transition: background 142ms linear;
}
.snicker-comments-list .pagination .pagination-button:hover,
.snicker-comments-list .pagination .pagination-button.hover{
    background-color: #0062cc;
}
.snicker-comments-list .pagination .pagination-button:active,
.snicker-comments-list .pagination .pagination-button.active{
    background-color: #004999;
}
.snicker-comments-list .pagination .pagination-button:disabled,
.snicker-comments-list .pagination .pagination-button.disabled{
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #555;
}
.snicker-comments-list .pagination.pagination-top .pagination-button.button-next{
    float: right;
}
.snicker-comments-list .pagination.pagination-bottom{
    text-align: center;
}
.snicker-comments-list .pagination.pagination-bottom:after{
    clear: both;
    content: "";
    display: table;
}
.snicker-comments-list .pagination.pagination-bottom .pagination-inner{
    margin: 0 auto;
    display: inline-block;
}
.snicker-comments-list .pagination.pagination-bottom .pagination-button{
    float: left;
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.snicker-comments-list .pagination.pagination-bottom .pagination-button.button-first,
.snicker-comments-list .pagination.pagination-bottom .pagination-button.button-previous,
.snicker-comments-list .pagination.pagination-bottom .pagination-button.button-next,
.snicker-comments-list .pagination.pagination-bottom .pagination-button.button-last{
    font-size: 20px;
    line-height: 18px;
}
.snicker-comments-list .pagination.pagination-bottom .pagination-button:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
.snicker-comments-list .pagination.pagination-bottom .pagination-button:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-right: 3px;
    -moz-border-radius-right: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
