
.nav.nav-pills .nav-link.nav-public.active{
    background-color: #28A745;
}
.nav.nav-pills .nav-link.nav-pending .badge{
    margin-top: 2px;
    vertical-align: top;
}
.nav.nav-pills .nav-link.nav-pending.active{
    background-color: #007bff;
}
.nav.nav-pills .nav-link.nav-pending.active .badge{
    color: #007bff;
    background-color: #fff;
}
.nav.nav-pills .nav-link.nav-rejected.active{
    background-color: #FFC107;
}
.nav.nav-pills .nav-link.nav-spam.active{
    background-color: #DC3545;
}
